<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Email" %><br>
    <%= f.text_field :mail %>
  </div>
  
  <% @current_usr.custom_field.each do |custom_field| %>
	<div class="field">
		<%= f.label custom_field.field %><br>
		<% if custom_field.field_type == 1 %>
			<input type="text" name="<%custom_field.field%>">
		<% else %>
			<textarea rows="4" cols="100" name"<%custom_field.field%>">
			</textarea>
		<% end %>
	</div>  
  <% end %>
  
  <div class="actions">
    <%= f.submit " OK "%>
  </div>
<% end %>
